.advantages__list {
  .zero;
}

.advantages__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__title {
  .zero;
  margin-bottom: 27px;


  font-family: @oswaldr;
  .size(36px; 60px);
  font-weight: normal;

  color: #111111;
}

.advantages__item {
  margin-bottom: 26px;
  padding-left: 80px;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    padding: 0 30px;
  }

  .advantages__title {
    .size(60px; 60px);
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 354px;
    min-height: 300px;
    padding: 0;

    .size(16px; 24px);
  }
}

@media (min-width: @desktop-width) {
  .advantages__item {
    width: 254px;
  }
}
