.bonus {
  padding-left: 20px;
  .wrapper;
}

.bonus__wrapper {
  padding-top: 180px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.bonus-text {
  .zero;
  padding-bottom: 70px;

  .size(16px; 20px);
  font-weight: normal;

  color: #ffffff;
}
