.bonus {
  padding-left: 20px;
  .wrapper;
}

.bonus__wrapper {
  padding-top: 187px;
  padding-left: 55px;
  margin-bottom: 7px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.bonus-text {
  position: relative;
  .zero;
  padding-bottom: 70px;
  width: 170px;

  .size(16px; 20px);
  font-weight: normal;
  text-align: center;

  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    left: 58px;
    top: -122px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @tablet-width) {
  .bonus {
    padding-left: 30px;
    .tablet-wrapper;
  }

  .bonus__wrapper {
    padding: 70px 150px 70px 425px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }
}
