.button {
  display: block;

  font-family: @oswaldr;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;

  &--green {
    color: #ffffff;
    background-color: #68b738;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: @tablet-width) {
  .button {
    .size(20px; 20px);
  }
}
