.catalog__title {
  padding-bottom: 27px;
  padding-left: 20px;
}

.catalog__list {
  .zero;
}

.catalog__wrapper {
  .wrapper;
  padding-top: 15px;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;

  padding: 0 20px;
}

.catalog__link-img {
    display: block;
    width: 140px;
    height: 144px;
}

.catalog__img-tablet {
  display: none;
}

@media (max-width: @mobile-width-only) {
  .catalog__list li {
    border: 1px solid #e6e6e6;
    border-bottom: none;
  }

  .catalog__list li:last-of-type {
    border: 1px solid #e6e6e6;
  }
}

.catalog__button {
  min-width: 280px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 25px;

  .size(16px; 20px);
}

.catalog__item-title {
  .zero;
  padding-top: 22px;
  padding-bottom: 10px;
  width: 100px;

  font-family: @oswaldr;
  .size(16px; 20px);
  font-weight: normal;
  text-transform: uppercase;

  color: #111111;
}

.catalog__table {
  width: 130px;

  font-family: @arial;
  .size(12px; 16px);
  font-weight: normal;

  border-collapse: collapse;
}

.catalog__table-value {
  text-align: right;
}

.catalog__table-field {
  padding-right: 55px;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    width: @tablet-width;
    padding: 53px 30px 0;
  }

  .catalog__title {
    padding-left: 0;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .catalog__item {
    flex-direction: column;
    align-items: center;
    width: 324px;

    border: none;
  }

  .catalog__item-title {
    width: 140px;

    .size(20px; 20px);
    text-align: center;
  }

  .catalog__link-img {
    width: auto;
  }

  .catalog__img-mobile {
    display: none;
  }

  .catalog__img-tablet {
    display: block;
  }

  .catalog__table {
    .size(16px; 16px);
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    width: @desktop-width;
    padding: 0 40px;
  }
}
