.catalog__title {
  padding-bottom: 27px;

  .border;
}

.catalog__list {
  .zero;
}

.catalog__wrapper {
  .wrapper;
  padding: 15px 20px 0 20px;
}

.catalog__item {
  .border;
}

.catalog__button {
  margin-bottom: 25px;

  .size(16px; 20px);
}

.catalog__item-title {
  .zero;

  font-family: @oswaldr;
  .size(16px; 20px);
  font-weight: normal;
  text-transform: uppercase;

  color: #111111;
}

.catalog__table {
  font-family: @arial;
  .size(12px; 16px);
  font-weight: normal;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    width: @tablet-width;
    padding: 0 30px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .catalog__item {
    min-widht: 324px;
  }

  .catalog__item-title {
    .size(20px; 20px);
  }

  .catalog__table {
    .size(16px; 16px);
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    width: 1400px;
    padding: 0 110px;
  }
}
