.comment__text {
  .placeholder;

  resize: none;
}

.comment__wrapper {
  padding: 0 20px;
}

.comment {
  margin-bottom: 39px;

  .border-green;
}

.comment-title {
  width: 160px;
  margin-top: -15px;
  margin-bottom: 35px;
  padding-left: 20px;

  background-color: #fff;
}

.comment__text {
  width: 280px;
  min-height: 150px;
  padding: 13px;
}
