.comment__text {
  &::-webkit-input-placeholder {
    color: #444444;
    text-transform: uppercase;
  }

  &::-moz-placeholder {
    color: #444444;
    text-transform: uppercase;
  }

  &:-moz-placeholder {
    color: #444444;
    text-transform: uppercase;
  }

  &:-ms-input-placeholder {
    color: #444444;
    text-transform: uppercase;
  }

  resize: none;
}

.comment__text-wrapper {
  padding: 0 20px;
}

.comment {
  margin-bottom: 39px;

  .border-green;
}

.comment-title {
  width: 160px;
  margin-top: -16px;
  margin-bottom: 35px;

  background-color: #fff;
}

.comment__text {
  width: 280px;
  min-height: 150px;
  padding: 13px;
}

@media (min-width: @tablet-width) {
  .comment {
    margin-bottom: 89px;
  }

  .comment__wrapper {
    .desktop-wrapper;
  }

  .comment__text {
    width: 100%;
    min-height: 175px;
    padding: 15px 20px;
  }

  .comment-title {
    width: 260px;
    margin-top: -25px;
    margin-bottom: 75px;
  }

  .comment__text-wrapper {
    .form-padding;
  }

}

@media (min-width: @desktop-width) {
  .comment__text-wrapper {
    padding: 0 40px;
  }
}
