.contacts__wrapper {
  .wrapper;
}

.contacts--form .contacts__wrapper,
.contacts--catalog .contacts__wrapper {
  background-color: #f2f2f2;
}

.contacts__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 27px 20px;;
}

.contacts__invite {
  width: 120px;
  .zero;

  font-family: @oswaldr;
  .size(16px; 20px);
  font-weight: normal;
  text-transform: uppercase;

  color: #111111;
}

.contacts__address {
  width: 140px;
  .zero;

  line-height: 20px;
}

.contacts__map {
  display: block;
}

.contacts__picture {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 135px;
    top: 140px;
    z-index: 5;

    width: 55px;
    height: 53px;

    background-image: url(../img/map-pin-mobile.png);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    .tablet-wrapper;
  }

  .contacts__text {
    justify-content: space-between;

    padding: 65px 70px 57px;
  }

  .contacts__map {
    width: 768px;
    height: 397px;

    margin: 0 auto;
  }

  .contacts__invite {
    .size(20px; 25px);
  }

  .contacts__address {
    width: 160px;

    .size(16px; 20px);
    text-align: right;

    span {
      display: inline-block;
      padding-top: 18px;
    }
  }

  .contacts__picture {
    &::before {
      left: 322px;
      top: 147px;
      width: 140px;
      height: 106px;

      background-image: url("../img/map-pin.png");

      z-index: 5;
    }
  }
}


@media (min-width: @desktop-width) {
  .contacts__wrapper {
    position: relative;
    .desktop-wrapper;
  }

  .contacts__map {
    width: auto;
    min-height: 405px;
  }

  .contacts__text {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 2;

    width: 570px;
    height: 201px;

    background-color: #ffffff;
  }
}
