.filter__footnote {
  .zero;
  margin-bottom: 32px;

  font-family: @arial;
  .size(14px; 16px);
  font-weight: normal;
  text-transform: none;
  text-align: center;

  color: #444444;
}

.filter__top-column {
  .wrapper;
}

.filter__button {
  width: 280px;
  margin-left: 20px;
  margin-bottom: 22px;
  padding: 11px 0;

  border: none;
}

.filter__button-wrapper {
  .wrapper;
}

@media (min-width: @tablet-width) {
  .filter__button {
    width: 283px;
    margin-left: 71px;
    margin-right: 61px;
    padding: 16px 0;
  }

  .filter__footnote {
    padding-top: 3px;

    .size(16px; 16px);
  }

  .filter__button-wrapper {
    display: flex;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .filter__top-column {
    display: flex;
    justify-content: space-between;
    .desktop-wrapper;
    padding: 0 40px;
  }

  .filter__button-wrapper {
    align-items: flex-start;
    .desktop-wrapper;
    padding: 0 40px;
  }

  .filter__button {
    width: 568px;
    margin-right: 82px;
    margin-left: 0;
  }

  .filter__footnote {
    .zero;
    padding-top: 17px;
  }
}
