.filter__footnote {
  font-family: @arial;
  .size(14px; 16px);
  font-weight: normal;
  text-transform: none;

  color: #444444;
}

@media (min-width: @tablet-width) {
  .filter-button {
    display: inline-block;
  }

  .filter__footnote {
    display: inline-block;
  }

}
