.form {
  .wrapper;

  font-family: @oswaldr;
  .size(16px; 18px);
  font-weight: normal;
  text-transform: uppercase;

  color: #222222;
}

.form__title {
  margin-bottom: 25px;

  text-transform: none;
}

.form__text {
  .zero;
  padding-right: 20px;

  .size(14px; 18px);
}

.form__wrapper {
  padding: 15px 20px;
}

.form input {
  flex-grow: 1;
}

@media (min-width: @tablet-width) {
  .form {
    .tablet-wrapper;
    margin-bottom: 50px;

    .size(20px; 20px);
  }

  .form__wrapper {
    padding: 52px 30px;
  }

  .form__text {
    width: 400px;
    margin-left: 40px;

    .size(20px; 30px);
  }

  .form__title {
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    position: relative;

    width: 100%;
    margin-bottom: 60px;
  }

  .form__wrapper {
    .desktop-wrapper;
    padding: 70px 40px 66px;
  }

  .form__text {
    margin-left: 0;
  }
}
