.form {
  .wrapper;

  font-family: @oswaldr;
  .size(16px; 18px);
  font-weight: normal;
  text-transform: uppercase;

  color: #222222;
}

.form__title {
  margin-bottom: 25px;

  text-transform: none;
}

.form__text {
  .zero;
  padding-right: 20px;

  .size(14px; 18px);
}

.form__title--small {
  .zero;
  padding: 0 20px;

  .size(24px; 24px);
  text-transform: none;
}

.form__wrapper {
  padding: 15px 20px;
}

.form input {
  flex-grow: 1;
}

@media (min-width: @tablet-width) {
  .form {
    .tablet-wrapper;
    margin-bottom: 50px;

    .size(20px; 20px);
  }

  .form__wrapper {
    padding: 52px 30px;
  }

  .form__text {
    width: 400px;
    margin-left: 40px;

    .size(20px; 30px);
  }

  .form__title {
    margin-bottom: 55px;
  }

  .form__title--small {
    margin-left: 30px;
    padding: 0 40px;

    .size(36px; 36px);
  }
}

@media (min-width: @desktop-width) {
  .form {
    position: relative;

    min-width: 1300px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }

  .form__wrapper {
    .desktop-wrapper;
  }
}
