.mission__list {
  .zero;
  padding: 15px 20px;

  border: 1px solid #e6e6e6;
  list-style: none;
}

.mission {
  margin-bottom: 43px;
}

.mission__item {
  padding: 12px 45px;
}

.mission__item label {
  position: relative;
}

.mission__slim + label,
.mission__weight-gain + label,
.mission__unknown + label {
  &::before {
    content: "";
    position: absolute;
    left: -45px;
    top: -5px;

    width: 30px;
    height: 30px;

    border: 1px solid #cecece;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      border-color: #bcbcbc;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.mission__slim:focus + label,
.mission__weight-gain:focus + label,
.mission__unknown:focus + label {
  &::before {
    border-color: #bcbcbc;
  }
}

.mission__slim:checked + label,
.mission__weight-gain:checked + label,
.mission__unknown:checked + label {
  &::after {
    content: "";
    position: absolute;
    left: -36px;
    top: 4px;

    width: 12px;
    height: 12px;

    border: 6px solid #68b738;
    border-radius: 50%;
  }
}

@media (min-width: @tablet-width) {
  .mission {
    margin-bottom: 97px;
    padding: 0 70px;
  }

  .mission__list {
    padding: 19px 32px;
  }

  .mission__item {
    padding: 16px 55px;
  }

  .mission__slim + label,
  .mission__weight-gain + label,
  .mission__unknown + label {
    &::before {
      left: -60px;
      top: -5px;

      width: 40px;
      height: 40px;
    }
  }

  .mission__slim:checked + label,
  .mission__weight-gain:checked + label,
  .mission__unknown:checked + label {
    &::after {
      left: -49px;
      top: 6px;

      width: 18px;
      height: 18px;

      border: 9px solid #68b738;
    }
  }
}

@media (min-width: @desktop-width) {
  .mission {
    width: 570px;
    margin-bottom: 91px;
    padding: 0;
  }

  .mission__list {
    padding: 17px 32px 19px;
  }
}
