.more {
  padding: 80px 20px 23px 20px;
}

.more__text {
  .zero;
  margin-bottom: 20px;

  font-family: @arial;
  .size(12px; 16px);
  font-weight: normal;
  text-align: center;
}

.more__button {
  .size(16px; 20px);

  background-color: #f2f2f2;
}

.more__show {
  position: relative;

  .zero;
  padding-bottom: 7px;

  font-family: @oswaldr;
  .size(16px; 20px);
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;

  color: #111111;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: -40px;
    left: 125px;

    width: 30px;
    height: 2px;

    background-color: #d3d3d3;
  }

  &::after {
    transform: rotate(-90deg);
  }
}

@media (min-width: @tablet-width) {
  .more__show {
    .size(20px; 20px);
  }

  .more__text {
    .size(16px; auto);
  }
}
