.more {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.more__text {
  .zero;
  margin-bottom: 20px;

  font-family: @arial;
  .size(12px; 16px);
  font-weight: normal;
  text-align: center;
}

.more__button {
  .size(16px; 20px);

  background-color: #f2f2f2;
}

.more__show {
  .zero;

  font-family: @oswaldr;
  .size(16px; 20px);
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;

  color: #111111;
}

.button {
  display: block;
  min-width: 280px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-family: @oswaldr;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;

  &--green {
    color: #ffffff;
    background-color: #68b738;

    &:hover {
      background-color: #5eaa2f;
    }
  }
}
