.motivation {
  .wrapper;

  color: #111111;
  background-color: #f2f2f2;
}

.motivation__wrapper {
  padding: 17px 20px 21px;
}

.motivation__title {
  .zero;
  margin-bottom: 24px;

  font-family: @oswaldr;
  .size(36px; 60px);
  font-weight: normal;
}

.motivation__text {
  .zero;
  padding-right: 10px;
  margin-bottom: 24px;

  color: #444444;
}

.motivation__list {
  margin-bottom: 35px;
  margin-right: 30px;

  border-collapse: collapse;
}

.motivation__list tbody {
  display: flex;
}

.motivation__list tr {
  display: flex;
  position: relative;
  margin-right: 30px;
}

.motivation__value {
  display: block;
  width: 125px;
  padding-top: 12px;
  padding-bottom: 18px;

  font-family: @oswaldr;
  .size(24px; 24px);
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #cdcdcd;;
  border-radius: 4px;
}

.motivation__field {
  position: absolute;
  width: 80px;
  left: 20px;
  top: 45px;

  font-family: @arial;
  .size(12px; 12px);
  font-weight: normal;
  text-transform: lowercase;
  text-align: center;

  color: #444444;
  background-color: #f2f2f2;
}

.motivation__cost {
  .zero;

  font-family: @oswaldr;
  .size(14px; 20px);
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .motivation {
    .zero;
    .tablet-wrapper;

    background-image: linear-gradient(to top,#f2f2f2 460px,#ffffff 460px);
  }

  .motivation__wrapper {
    padding: 44px 30px 20px;
  }

  .motivation__title {
    margin-bottom: 65px;

    .size(60px; 60px);
  }

  .motivation__list-wrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;
  }

  .motivation__text {
    margin-bottom: 55px;

    .size(16px; 24px);
  }

  .motivation__list {
    margin-bottom: 25px;
  }

  .motivation__list tr {
    margin-right: 40px;
  }

  .motivation__value {
    width: 162px;

    .size(30px; 37px);
  }

  .motivation__field {
    top: 60px;

    .size(14px; 14px);

    background-color: #ffffff;
  }

  .motivation__field--weight {
    width: 115px;
  }

  .motivation__field--time {
    left: 13px;
    width: 140px;
  }

  .motivation__cost {
    width: 180px;
    padding: 9px 0;

    .size(20px; 20px);
    text-align: right;

    span {
      padding-top: 8px;
      display: inline-block;
    }
  }
}

@media (min-width: @desktop-width) {
  .motivation {
    min-width: 1300px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    background-color: #f2f2f2;
  }

  .motivation__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 670px;
    padding: 24px 40px;
    .desktop-wrapper;
  }

  .motivation__title {
    margin-top: 55px;
    margin-bottom: 145px;
  }

  .motivation__text {
    width: 445px;
    margin-bottom: 70px;
  }

  .motivation__list-wrapper {
    width: 400px;
    flex-wrap: wrap;
  }

  .motivation__cost {
    width: 400px;
  }

  .motivation__field {
    background-color: #f2f2f2;
  }

  .motivation__list {
    margin-bottom: 40px;
  }

  .motivation__cost {
    text-align: left;
  }

  .motivation__cost span {
    margin-left: 60px;
  }
}
