.options {
  margin-bottom: 30px;

  .border-green;
}

.options__title {
  width: 185px;
  margin-top: -16px;
  margin-bottom: 28px;

  background-color: #fff;
}

.options__wrapper {
  padding: 0 20px;
  margin-bottom: 30px;
}

.options__list {
  .zero;
}

.options__item {
  position: relative;

  padding: 12px 45px;
}

.options__item input + label {
  &::before {
    content: "";

    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 6px;

    border: 1px solid #cdcdcd;
  }

  &:hover {
    &::before {
      border-color: #bcbcbc;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.options__item input:checked + label {
  &::after {
    content: "";

    position: absolute;
    width: 21px;
    height: 16px;
    left: 5px;
    top: 12px;

    background-image: url(../img/icon-tick.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.filter-button {
  width: 280px;
  padding: 10px 0;
  margin-left: 20px;
  margin-bottom: 22px;

  border: none;
}

.filter__footnote {
  .zero;

  text-align: center;
}

@media (min-width: @tablet-width) {
  .options__wrapper {
    .form-padding;
  }

  .options__title {
    width: 290px;
    margin-top: -25px;
  }

  .options__list {
    display: flex;
    flex-wrap: wrap;
  }

  .options__item {
    width: 285px;
  }

  .options__item input + label {
    &::before {
      width: 40px;
      height: 40px;
      left: -12px;
      top: 2px;
    }
  }

  .options__item input:checked + label {
    &::after {
      left: -2px;
      top: 14px;
    }
  }

}
