.owner__mail,
.owner__tel {
  .placeholder;
}

.owner {
  margin-bottom: 42px;

  .border-green;
}

.owner div {
  display: flex;
  padding: 0 20px;
}

.owner__input {
  padding: 13px;
}

.owner__title {
  width: 221px;
  margin-top: -16px;
  margin-bottom: 33px;

  background-color: white;
}

.owner__mail-label,
.owner__tel-label {
  margin-top: 14px;
  margin-right: 10px;
}

.owner__column--top {
  position: relative;

  margin-bottom: 12px;

  svg {
    position: absolute;

    width: 17px;
    height: 13px;
    top: 29px;
    right: 35px;
  }
}

.owner__column--bottom {
  position: relative;

  svg {
    position: absolute;

    width: 20px;
    height: 20px;
    top: 29px;
    right: 35px;
  }
}

@media (min-width: @tablet-width) {
  .owner {
    margin-bottom: 87px;
  }

  .owner__title {
    width: 593px;
    margin-top: -25px;
    margin-bottom: 76px;
  }

  .owner__input {
    padding: 14px 20px;
  }

  .owner div {
    .form-padding;
    margin-bottom: 18px;
  }

  .owner__mail-label {
    margin-top: 16px;
    margin-right: 20px;
  }

  .owner__tel-label {
    margin-top: 16px;
    margin-right: 13px;
  }
}
