.owner__mail,
.owner__tel {
  .placeholder;
}

.owner {
  margin-bottom: 40px;

  .border-green;
}

.owner div {
  display: flex;

  padding: 15px 20px 0;
}

.owner__input {
  padding: 11px 14px;
}

.owner__title {
  width: 220px;
  margin-top: -16px;
  margin-bottom: 20px;

  background-color: white;
}

.owner__mail-label,
.owner__tel-label {
  margin-top: 12px;
  margin-right: 12px;
}

.owner__column--top {
  position: relative;

  svg {
    position: absolute;

    width: 17px;
    height: 13px;
    top: 29px;
    right: 35px;
  }
}

.owner__column--bottom {
  position: relative;

  svg {
    position: absolute;

    width: 20px;
    height: 20px;
    top: 29px;
    right: 35px;
  }
}

@media (min-width: @tablet-width) {
  .owner__title {
    width: 593px;
    margin-top: -25px;
  }

  .owner__input {
    padding: 14px 20px;
  }

  .owner div {
    .form-padding;
  }

}
