.owner__mail,
.owner__tel {
  &::-webkit-input-placeholder {
    color: #444444;
    text-transform: uppercase;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: #444444;
    text-transform: uppercase;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: #444444;
    text-transform: uppercase;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: #444444;
    text-transform: uppercase;
    opacity: 1;
  }
}

.owner {
  margin-bottom: 42px;

  .border-green;
}

.owner__column {
  display: flex;
  padding: 0 20px;
}

.owner__input {
  padding: 13px;
}

.owner__title {
  width: 221px;
  margin-top: -16px;
  margin-bottom: 33px;

  background-color: white;
}

.owner__mail-label,
.owner__tel-label {
  margin-top: 14px;
  margin-right: 10px;
}

.owner__column--top {
  position: relative;

  margin-bottom: 12px;

  svg {
    position: absolute;
    top: 15px;
    right: 34px;

    width: 17px;
    height: 13px;
  }
}

.owner__column--bottom {
  position: relative;

  svg {
    position: absolute;
    top: 15px;
    right: 34px;

    width: 20px;
    height: 20px;
  }
}

@media (min-width: @tablet-width) {
  .owner {
    margin-bottom: 87px;
  }

  .owner__title {
    width: 593px;
    margin-top: -25px;
    margin-bottom: 76px;
  }

  .owner__input {
    padding: 14px 20px;
  }

  .owner__column {
    .form-padding;
    margin-bottom: 18px;
  }

  .owner__mail-label {
    margin-top: 16px;
    margin-right: 20px;
  }

  .owner__tel-label {
    margin-top: 16px;
    margin-right: 13px;
  }

  .owner__column svg {
    top: 21px;
    right: 84px;
  }
}

@media (min-width: @desktop-width) {
  .owner__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .desktop-wrapper;
  }

  .owner__title {
    margin-right: 540px;
    padding: 0 40px;
  }

  .owner__column {
    width: 570px;
    margin: 0 40px;
    padding: 0;
  }

  .owner__column svg {
    top: 18px;
    right: 19px;
  }
}
