.page-footer__logo {
  display: block;
  padding-top: 20px;
  padding-bottom: 27px;

  text-align: center;

  .border;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__wrapper {
  .wrapper;
  padding: 20px;

  background-color: #f2f2f2;
}
