.page-footer__logo {
  display: block;
  padding-top: 20px;
  padding-bottom: 27px;

  text-align: center;

  .border;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__wrapper {
  .wrapper;
  padding: 20px;

  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;

    width: @tablet-width;
    padding: 0 30px;
    padding-top: 43px;
    padding-bottom: 30px;
  }

  .page-footer__logo {
    padding-left: 3px;

    border: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: @desktop-width;
    padding: 44px 40px 30px;
  }

  .page-footer__logo {
    padding-left: 0;
  }

  .copyright__link {
    padding-right: 3px;
  }
}
