.page-header__logo {
  display: block;
  padding: 11px 43px 12px 20px;

  svg {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.page-header__wrapper {
  .wrapper;
}
