.page-footer {
  background-color: #f2f2f2;
}

.page-footer__logo {
  display: block;
  padding-top: 20px;
  padding-bottom: 27px;

  text-align: center;

  .border;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__wrapper {
  .wrapper;
  padding: 20px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: @tablet-width;
    padding: 44px 32px 30px 27px;
  }

  .page-footer__logo {
    padding-left: 3px;

    border: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    background-color: #f2f2f2;
  }

  .page-footer__wrapper {
    width: @desktop-width;
    padding: 46px 39px 30px;
    .desktop-wrapper;
  }

  .page-footer__logo {
    padding-left: 0;
  }
}
