.promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo__wrapper {
  position: relative;
  padding-top: 28px;
  text-align: center;
}

.promo__title {
  &::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 270px;
    left: 20px;
    top: 165px;
    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  margin: 0;
  margin-bottom: 25px;

  font-family: @oswaldr;
  .size(36px; 36px);
  font-weight: normal;

  color: #ffffff;
}

.promo__text {
  display: block;
  margin-bottom: 300px;

  font-family: @oswaldr;
  .size(14px; 14px);
  font-weight: normal;
  text-transform: uppercase;

  color: #ffffff;
}

.promo__button {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 22px;

  .size(14px; 18px);
}

@media (min-width: @tablet-width) {
  .promo {
    padding-bottom: 500px;

    background-image: none;
  }

  .promo__button {
    position: absolute;

    .size(20px; 20px);
  }

  .promo__title {
    &::before {
      content: "";
      position: absolute;
      width: 552px;
      height: 499px;
      left: 90px;
      top: 220px;
      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    .size(60px; 60px);
    text-align: left;

    color: #111111;
  }

  .promo__text {
    margin-bottom: 43px;

    .size(20px; 20px);
    text-align: left;

    color: #111111;
  }

  .promo__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .promo__title {
    &::before {
      content: "";
      position: absolute;
      width: 552px;
      height: 499px;
      left: 400px;
      top: 0;
      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    padding-right: 800px;
  }

  .promo__wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}
