.questionnaire__name,
.questionnaire__weight,
.questionnaire__age {
  .placeholder;
}

.questionnaire__wrapper {
  padding: 14px 20px 10px;
}

.questionnaire__column {
  display: flex;

  margin-bottom: 13px;
}

.questionnaire__input {
  padding: 13px 14px;
}

.questionnaire {
  padding-top: 10px;
}

.questionnaire__name-label {
  margin-top: 12px;
  margin-right: 12px;
}

.questionnaire__weight-label {
  margin-top: 13px;
  margin-right: 15px;
}

.questionnaire__age-label {
  margin-top: 14px;
  margin-right: 14px;
}

@media (min-width: @tablet-width) {
  .questionnaire {
    padding: 0;
    margin-bottom: 40px;
  }

  .questionnaire__wrapper {
    padding: 15px 67px 11px 71px;
  }

  .questionnaire__input {
    padding: 13px 18px;
  }

  .questionnaire__name-label {
    margin-top: 15px;
    margin-right: 17px;
  }

  .questionnaire__weight-label {
    margin-top: 15px;
    margin-right: 20px;
  }

  .questionnaire__age-label {
    margin-right: 17px;
  }

  .questionnaire__column {
    margin-bottom: 21px;
  }
}
