.site-list__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;

  font-family: @oswaldm;
  .size(20px; 20px);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  color: #111111;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__item {
  border-top: 1px solid #e6e6e6;
}

.site-list__item:last-child {
  .border;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    min-width: 440px;
  }

  .site-list__item {
    border: none;
  }

  .site-list__item:last-child {
    border: none;
  }

  .site-list__link {
    font-family: @oswaldr;
    .size(18px; 24.86px);
    font-weight: normal;
  }

  .site-list__item--active {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 55px;
      left: 0;

      height: 2px;
      width: 100%;

      border-bottom: 2px solid #68b738;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list--catalog .site-list__item--active,
  .site-list--form .site-list__item--active {
    &::before {
      border-bottom: 2px solid #68b738;
    }
  }

  .site-list__link {
    font-size: 20px;
  }

  .site-list__link--desktop {
    color: #ffffff;
  }

  .site-list {
    min-width: 480px;
  }

  .site-list__item--active {
    &::before {
      border-bottom: 2px solid #ffffff;
    }
  }
}
