.slider__controls-item {
  font-family: @oswaldr;
  .size(16px; 20px);
  font-weight: normal;
  text-transform: uppercase;
}

.slider__list {
  .zero;
}

.slider__controls {
  position: relative;

  padding-left: 43px;
  padding-top: 5px;
  margin-bottom: 15px;

  &:after {
    content: "";
    position: absolute;

    width: 84px;
    height: 14px;
    top: 8px;
    left: 100px;

    border: 1px solid #cdcdcd;
    border-radius: 5px;
  }
}

.slider__controls-item:first-child {
  margin-right: 118px;
}

.slider__input:checked ~ .slider__controls label {
  &:before {
    content: "";
    position: absolute;

    width: 35px;
    height: 6px;
    top: 12px;
    left: 105px;

    border: 3px solid #68b738;
    border-radius: 10px;
  }
}

.slider__item--before {
  min-width: 290px;
  min-height: 300px;

  background-image: url("../img/before-mobile@1x.png");
  background-position: -20px 32px;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/before-mobile@1x.png");
    background-size: 320px auto;
  }
}

@media (min-width: @tablet-width) {
  .slider {
    background-color: #f2f2f2;
  }

  .slider__item--before {
    min-width: 636px;
    min-height: 550px;
    background-image: url("../img/slider-tablet@1x.png");
    background-position: 17px 45px;
    background-repeat: no-repeat;
  }

  .slider__controls {
    padding: 35px 68px;
  }

  .slider__controls-item {
    .size(20px; 20px);

    border-bottom: 1px dashed #bebebe;
  }

  .slider__controls-item:first-child {
    margin-right: 470px;
  }
}
