.slider-controls-item {
  font-family: @oswaldr;
  .size(16px; 20px);
  font-weight: normal;
  text-transform: uppercase;
}


@media (min-width: @tablet-width) {
  .slider {
    padding-top: 400px;
    background-color: #f2f2f2;
  }
}
