.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
  .zero;
  padding: 22px 82px 15px 74px;

  .border;
  list-style: none;
}

.social-list__link {
  svg {
    fill: #666666;

    &:hover {
      fill: #68b738;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    min-width: 143px;
    padding: 10px 0 20px 19px;

    border: none;
  }

  .social-list__link--vkontakte {
    svg {
      width: 30px;
      height: 16px;
    }
  }

  .social-list__link--instagram {
    svg {
      width: 23px;
      height: 23px;
    }
  }

  .social-list__link--facebook {
    svg {
      width: 14px;
      height: 28px;
    }
  }
}
