.social-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
  .zero;
  padding: 24px 82px 15px 72px;

  .border;
}

.social-list__link {
  path {
    fill: #666666;
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    min-width: 140px;
    padding: 18px 0 0 15px;

    border: none;
  }

  .social__link--vkontakte {
    svg {
      width: 30px;
      height: 16px;
    }
  }

  .social-list__link--instagram {
    svg {
      width: 23px;
      height: 23px;
    }
  }

  .social-list__link--facebook {
    svg {
      width: 14px;
      height: 28px;
    }
  }
}
