.social-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
  .zero;
  padding: 24px 82px 15px 72px;

  .border;
}

.social-list__link {
  path {
    fill: #666666;
  }
}
