.zero {
  margin: 0;
  padding: 0;
}

.border {
  border-bottom: 1px solid #e6e6e6;
}

.size(@size; @height) {
  font-size: @size;
  line-height: @height;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
}

.tablet-wrapper {
  width: 768px;
  margin: 0 auto;
}

.desktop-wrapper {
  width: 1300px;
  margin: 0 auto;
}

.placeholder {
  &::-webkit-input-placeholder {
    color: #444444;
    text-transform: uppercase;
  }

  &::-moz-placeholder {
    color: #444444;
    text-transform: uppercase;
  }

  &:-moz-placeholder {
    color: #444444;
    text-transform: uppercase;
  }

  &:-ms-input-placeholder {
    color: #444444;
    text-transform: uppercase;
  }
}
